:root {
    /* Brand Colors */
    --primary: #1f4e79;
    /* deep river blue - header, navbar, buttons */
    --primary-accent: #5dade2;
    /* water blue - highlights, links, accents */
    --background: #f4f9fb;
    /* foam white - background */
    --text-color: #2b2b2b;
    /* dark rock gray - text color */
    --accent-1: #e74c3c;
    /* raft red - CTA buttons, important highlights */
    --accent-2: #a9d6f5;
    /* splash light blue - hover effects, subtle background */

    /* Fonts */
    --heading-font: 'Bebas Neue', 'Oswald', sans-serif;
    /* headings - titles */
    --body-font: 'Open Sans', 'Roboto', sans-serif;
    /* body text - paragraph and content */
    --nav-font: 'Montserrat', sans-serif;
    /* accent font - buttons and menus */
}

/* Group */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    /* limit page width and set center */
    max-width: 900px;
    margin: 0 auto;
}

.hero,
section,
footer {
    /* border: 1px solid var(--primary); */
    margin: 5px auto;
}

.history,
.adventure {
    /* border: 1px solid var(--primary); */
    width: 100%;
}

.history h2,
.adventure h2 {
    text-align: center;
    margin-top: 10px;
}

/* Body */
body {
    /* font */
    font-family: var(--body-font);
    color: var(--text-color);

    /* background */
    background-color: var(--background);
}

/* Header */
header {
    display: grid;
    align-items: center;
    grid-template-columns: 300px 1fr;

    background-color: var(--primary);
    padding: 10px 20px;
}

header img {
    width: 120px;
    margin-left: 20px;
}

/* Nav */
header nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav a {
    font-family: var(--nav-font);
    color: var(--primary);
    text-decoration: none;
    font-weight: bolder;

    padding: 10px 30px;
    border: 1px solid var(--primary-accent);
    background-color: var(--primary-accent);
}

nav a:hover {
    color: var(--accent-2);
}

nav,
p {
    margin: 10px;
    padding: 5px;
}

/* Headings */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary);
}

/* Company's name - White Water Rafting */
h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-accent);
    color: var(--text-color);
}

/* Main */
/* Class: Hero */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    /* box */
    position: absolute;
    text-align: left;
    top: 350px;
    margin: 0 30px;
    opacity: .8;
    background-color: var(--accent-1);
    color: var(--background);
    padding: 8px;
    border-left: 6px solid #c0392b;
}

.hero article img {
    float: right;
    width: 160px;
    margin: 5px 8px 5px 0;
    padding: 0;
    border: 2px solid var(--primary-accent);
    border-radius: 5px;
}

/* History */
.history-content {
    display: grid;
    grid-template-columns: 1fr .8fr 1fr;
    gap: 5px;
    align-items: center;
    padding: 0 20px 10px;

    /* border: 1px solid #2b2b2b; */
}

.history-content img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px var(--accent-2);
}

/* Class: Adventures */
.adventure-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 0 20px;
}

/* Figure */
figure {
    margin: 5px 0 15px;
    text-align: center;
    flex: 1;

}

figure img {
    width: 100%;
    box-shadow: 0 0 8px var(--primary);
}

figcaption {
    font-family: var(--body-font);
    color: var(--text-color);
    font-size: small;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--primary);
}

footer p {
    flex: 1;
    text-align: center;
    margin: 0;
    padding-left: 100px;
}

.socialmedia {
    display: flex;
    gap: 15px;
    margin-left: auto;
    text-decoration: none;
}

.socialmedia img {
    width: 25px;
    height: auto;
    display: block;
}