* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid rgb(0, 0, 0, 0.2);
    --box-padding: .5rem;
    --text-align: center;
    --image-width: 150px;
    --main-font: 'Segoe UI', sans-serif;
    --main-font-size: 1rem;
}

/* Navigation Bar */
nav {
    background-color: steelblue;
    padding: var(--box-padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: var(--box-padding);
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
}

hr {
    color: darkblue;
}

/* Main Element */
.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 180px;
    height: auto;
    border: 1px solid #333;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem .5rem;
}

h1 {
    color: royalblue;
    font-family: var(--main-font);
    font-weight: 350;
    padding: var(--box-padding);
    border-bottom: 1px solid #333;
}

p {
    padding: var(--box-padding);
    font-family: var(--main-font);
}

/* Aside Element */
aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 90px;
    color: #ddd;
}

aside img {
    width: 250px;
    height: auto;
}

/* Footer Element */
footer {
    margin-top: 5px;
    border-top: 1px dotted #333;
    text-align: center;
    font-family: var(--main-font);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}